name: Publish Docker Images

on: [push]
# on:
#   push:
#     branches:
#       - 'main'

env:
  HUSKY: 0

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y_%m_%d_%H_%m')"

      # - name: Build Express Server Image
      #   run: docker build -f ./apps/express-server/Dockerfile -t ${{secrets.DOCKER_HUB_USERNAME}}/csl-express-server:${{ steps.date.outputs.date }} .

      - name: Build NestJS Server Image
        run: docker build -f ./apps/nestjs-server/Dockerfile -t ${{secrets.DOCKER_HUB_USERNAME}}/csl-nestjs-server:${{ steps.date.outputs.date }} .

      - name: Build Next Client Image
        run: docker build -f ./apps/next-client/Dockerfile -t ${{ secrets.DOCKER_HUB_USERNAME }}/csl-next-client:${{ steps.date.outputs.date }} .

      - name: Build React Client Image
        run: docker build -f ./apps/react-client/Dockerfile -t ${{ secrets.DOCKER_HUB_USERNAME }}/csl-next-client:${{ steps.date.outputs.date }} .

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push Express Server Image to Docker Hub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/csl-express-server:${{ steps.date.outputs.date }}

      - name: Push NestJS Server Image to Docker Hub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/csl-nestjs-server:${{ steps.date.outputs.date }}

      - name: Push Next Client Image to Docker Hub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/csl-next-client:${{ steps.date.outputs.date }}

      - name: Push React Client Image to Docker Hub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/csl-react-client:${{ steps.date.outputs.date }}